<ion-navbar *navbar>
	<ion-title>Correctly Wrong</ion-title>
</ion-navbar>

<ion-content padding class="home">
	<button *ngFor="let question of questions; let i = index"
			 class="questionIndicator" 
			 [class.button-light]="i == currentQuestionIndex">{{i}}</button>

	<ion-card>
		<ion-card-header>
			{{currentQuestion.title}}
		</ion-card-header>
		<ion-card-content>
			<button *ngFor="let answer of currentQuestion.answers"
					(click)="answerClicked(answer)">{{answer.title}}</button>
		</ion-card-content>
	</ion-card>
</ion-content>